#:schema https://dystroy.org/bacon/.bacon.schema.json
[sound]
enabled = true
base_volume = "100%"
default_job = "tsck"
env.CARGO_TERM_COLOR = "always"

[jobs.tsck]
command = ["cargo", "run", "-p", "tsck", "--quiet"]
allow_warnings = true
on_change_strategy = "kill_then_restart"
watch = ["crates/tsck/src/*", "crates/tsck-utils/src/*"]
ignore = ["*"]
need_stdout = true

[jobs.frontend]
command = ["bun", "run", "--cwd=js/frontend", "dev"]
allow_warnings = true
need_stdout = true


[jobs.test]
command = ["cargo", "test", "-p", "tsck","--","--nocapture"]
allow_warnings = true
need_stdout = true
on_success = "job:build-jslib"


[jobs.build-jslib]
command = ["bun", "run", "--cwd=js/@tsck", "build"]
allow_warnings = true
need_stdout = true
on_success = "play-sound(name=90s-game-ui-6,volume=50)"

[jobs.build-frontend]
command = ["bun", "run", "--cwd=js/frontend", "build"]
allow_warnings = true
need_stdout = true
on_success = "play-sound(name=90s-game-ui-6,volume=50)"

[jobs.b-tsck]
command = ["cargo", "build", "-p", "tsck", "--release"]
allow_warnings = true
need_stdout = true
on_success = "play-sound(name=90s-game-ui-6,volume=50)"
[keybindings]
l = "job:build-jslib"
f = "job:build-frontend"
t = "job:test"
